#header {
  text-align:center;
  color:white;
}

#entryside {
  position: sticky;
  top: 0;
}


body {
  background-color: dodgerblue;
}

label {
  font-size: x-large;
}

p {
  font-size: x-large;
}

 input[type='radio'] { 
       height: 20px;
  width: 20px;
  vertical-align: left;

 }

 input[type='submit'] { 
  font-size: large;

 }

.list-group .list-group-item {
  border-radius: 0;
  cursor: move;
}

.list-group .list-group-item:hover {
  background-color: #f7f7f7;
}

.card {
  background-color: blue;
  color: white;
  padding: 1rem;
  height: auto;
  margin:auto;
  overflow-y:auto;
  max-height: 900px;
  min-width: 600px;
  min-height: 900px;

}

.cards {
  max-width: 1500px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  text-align:center;
}

@media (min-width: 600px) {
  .cards { grid-template-columns: repeat(2, 1fr); }
}

ul {
  list-style-type: decimal;
}

/*
ul {
  list-style-type: decimal;
  list-style-type: none;
}*/

li {
  background-color: #000000;
  border: 10px solid white;
  width: 300px;
  border-radius: 25px;
  background: #73AD21;
  padding: 20px;
  width: 200px;
  height: 20px;
  vertical-align: center;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}
